	.btn-outline-open
			{
				color:white !important; 
				border-color:purple !important;
				width: 2.1vw !important;
				height:85vh !important;
				background-color:purple !important;		
			}
			
			.btn-outline-open:hover
			{
				color:lightgray !important; 
				background-color:transparent !important;
			}
			
			.btn-outline-close
			{
				color:white !important; 
				border-color:#4A8BF1 !important;
				width: 2.1vw !important;
				height:85vh !important;
				background-color:#4A8BF1 !important;
			}
			
			.btn-outline-close:hover
			{
				color:lightgray !important; 
				background-color:transparent !important;
			}
		.Open_left
		{
			min-height:20px;
			display: inline-block;
			width: 0px;
			min-width: 0px; /*changed width to min-width */
			float: right;
			-webkit-transition: 2s;
			transition: 2s;
			height:85vh;
			background-color:lightgray;
			border-radius: 15px;
		}
		.search_chat
		{
			position:absolute;
			transform: translate(-50%, -50%);
			background: #333;
			height: 40px;
			border-radius: 40px;
			padding: 10px;
			border:1px solid;
			border-color:white;
			width:15vw;
		}
		.search_txt_chat
		{
			background: #333;
			height:30px;
			position:relative;
			outline:none;
			border-radius: 50px;
			width:350px;
			border:none;
			color:white;
			transition:0.5s;
		}
		.search_btn_chat
		{
			border-radius: 50px;
			background:#333;
			float:right;
			width:20px;
		}
