/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  border-color: background: rgb(27,35,45);
	background: linear-gradient(to bottom, rgba(27,35,45,1) 64%,rgba(27,35,45,1) 85%);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #8A2BE2, #4A8BF1);
  border-radius: 10px;
}
