
.search-box
{
	position:absolute;
	transform: translate(-50%, -50%);
	background: #333;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
	border:1px solid;
	border-color:white;
}
.search-txt
{
	background: #333;
	height:30px;
	position:relative;
	outline:none;
	border-radius: 50px;
	width:0px;
	border:none;
	color:white;
	transition:0.5s;
}
.search-box:hover > .search-txt
{
	width:20vw;
	padding: 0 6px;
	transition:1s;
}

.box_tele
{
	position:absolute;
	transform: translate(-50%, -50%);
	background: #333;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
	border:1px solid;
	border-color:white;
	width:30vw;
}
.txt_tele
{
	background: #333;
	height:30px;
	position:relative;
	outline:none;
	width:300px;
	border:none;
	color:white;
	transition:0.5s;
}.btn_tele
{
	border-radius: 50px;
	background:#333;
	float:right;
	width:20px;
}